body{

	font-family: "Karla", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-image: linear-gradient(to left, rgb(241, 224, 224), rgb(104, 101, 101));
	
}
	
.container{
		padding:100px;
			  
	}
	

@media only screen and (min-width: 768px)
{
	.container{
		grid-template-columns: auto auto;
		
	}
}

.btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgb(89, 214, 89);
	width: 250px;
	padding: 14px 60px;
	font-size: 30px;
	border-radius: 10px;
	
}

.h2{
	color: rgb(110, 226, 110);
	
}

.row{
	background-color: rgb(19, 145, 145);
	
}